<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda de Ativos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body onload="mostrarItens()">
    <div id="divTopoPopUp">
        <div class="mainPopupAlerta">
            <div id="headerAlertaPopup">
                <p style="color: #fff; font-size: 1.3vw;">Configuração de Alerta</p>
                <button onclick="imgClose()"><img src="/src/images/close.svg" alt="close" style="width: 1.5vw; position: relative; bottom: 1vw;"></button>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <p id="txtAlerta">Deseja ativar o alerta de produtos disponíveis para a compra ?</p>
                <select name="drpRemoveAlerta" id="drpRemoveAlerta">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
                <button onclick="btnSalvarAlerta()"><img src="/src/images/save.svg" alt="iconSave" style="width: 1.5vw; position: relative; top: 1vw;"></button>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="header">
            <div style=" display: flex; justify-content: space-between;align-items: center;">
                <div style="display: flex;">
                    <img id="imgLogo" src="../images/1LogoVAW.png" alt="LogoVA">
                    <p style="font-size: 1vw; font-weight: 600; color: #fff; width: 15vw; align-items: flex-end; display: flex;">VENDA DE ATIVOS</p>
                </div>
                <div id="mainNavigation">
                    <a href="../../index.html" id="lnkHome">Home</a>
                    <a href="CadastroProduto.html" id="lnkCadastroProduuto">Produto</a>
                    <a href="HistoricoVendas.html" id="lnkHistorioProduto">Historico de Pedidos</a>
                </div>
                <button onclick="imgButtonAlertClick()" style="padding-right: 2vw;"><img src="../images/sino.svg" alt="AlertClikBtn" style="width: 1.5vw;"></button>
            </div>

            <div id="divProdutoCadastro">
                <a href="#"><img src="../images/iconMais.svg" style="width: 1.5vw;">Novo produto</a>
                <select name="drpFiltroProduto" id="drpFiltroProduto">
                    <option selected>Selecione</option>
                    <option value="NP">Nº Patrimônio</option>
                    <option value="NS">Nº Série</option>
                    <option value="Lt">Lote</option>
                </select>
                <div style="display: flex; align-items: center;">
                    <input type="text" placeholder="Filtrar">
                    <button type="submit" style="transition: .4s linear;"><img src="../images/iconBuscar.svg" alt="Buscar" style="width: 1.5vw;"></button>
                </div>
            </div>
        </div>


        <div class="divPrincipal" style="padding-top: 9vw;">

            <div id="ProdutosAtivos">
                <table class="tblProdutosAtivos">
                    <thead id="headListaPedido">
                        <tr>
                            <th style="border-top-left-radius: 1vw;">Identificador</th>
                            <th>Nome</th>
                            <th>Estado</th>
                            <th style="border: none; border-top-right-radius: 1vw">Valor</th>
                        </tr>
                    </thead>
                    <tbody id="bodyListaPedido"></tbody>
                </table>
            </div>
        </div>

        <script src="../js/script.js"></script>
        <script src="../js/db.js"></script>
    </div>
</body>
</html>