@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 1920px;
    min-height: 100vh;
    background: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

*{
    -webkit-tap-highlight-color: transparent;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

*{
    outline: none;
}

/* ------ superior -------- */
#header{
    position: fixed;
    z-index: 10;
    background-color: #24226A;
    width: 100%;
}

#imgLogo{
    width: 5vw;
    padding-left: .5vw;
}

#mainNavigation{
    margin-top: .5vw;
    display: flex;
    width: 100%;
    align-items: center;
    height: 2.5vw;
}

#mainNavigation a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    padding: 1.2%;
    height: .25vw;
    transition-duration: .4s;
}

#mainNavigation a:hover{
    background-color: #f4f4f4;
    color: #24226A;
}

/* --------- Venda Produto ------------ */
#menu-container{
    position: relative;
    left: 4vw;
    top: 3vw;
}

#menu-component{
    background-color: #fff;
    display: flex;
    padding: 1.5vw;
    margin: 1.5vw;
    border: .1vw solid rgb(211, 211, 211);
    border-radius: .5vw;
}

#checkbox-span, #checkbox-items{
    font-size: 1em;
    position: relative;
    padding-top: 2em;
    right: 2vw;
    display: flex;
    flex-direction: column;
}

#checkbox-span{
    width: 5em;
}

#checkbox-items{
    width: 1.5em;
}

#titulo{
    color: #34495e;
    font-size: 1.25em;
    font-weight: 500;
    font-style: normal;
}

#SelectID{
    height: 2em;
    position: relative;
    left: .5em;
    border-radius: .3vw;
}

#ProdutosDisponiveis{
    margin-inline: 5vw;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#equipamentosId{
    background-color: #fff;
    margin-inline: .8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 18vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    border: .1vw solid rgb(211, 211, 211);
    border-radius: .5vw;
    overflow: hidden;
    transition: ease-in-out .4s;
    color: #000;
}

#equipamentosId:hover{
    transform: scale(1.03);
    box-shadow: 0 0 .5vw 0.2vw rgb(211, 211, 211);
}

#texto-equipamento{
    padding: 1vw;
}

/*---------- Cadastro Produto Defaut ----------------- */
#divProdutoCadastro{
    background-color: #24226A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 3vw;
    width: 100%;
    margin-bottom: .5vw;
}

#divProdutoCadastro a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .4s linear;
    font-size: 1vw;
}

#divProdutoCadastro button:hover, a:hover{
    transform: scale(1.07);
}

#divProdutoCadastro input{
    width: 10vw;
    height: .8vw;
    border-radius: 2vw;
    border: #fff solid;
    padding-inline: .5vw;
    font-size: .8vw;
    font-weight: 400;
}

#divProdutoCadastro select{
    border: #fff solid;
    border-radius: 2vw;
    width: 8vw;
    height: 1.2vw;
    font-size: .8vw;
}

#ProdutosAtivos{
    display: flex;
    position: relative;
    top: 4vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}